import * as React from "react";
import { Form, Input, Button, Card, Row, Col, Table, Tag, Space, Modal, message } from "antd";
import JSONInput from 'react-json-editor-ajrm';
import locale from 'react-json-editor-ajrm/locale/en';

import Axios from "../../utils/axios"



const FormItem = Form.Item;

const ConfigDetail = (props: any) => {

    const [form] = Form.useForm();
    const [resObj, setResObj] = React.useState<any>()


    React.useEffect(() => {
        if (isUpdata()) {
            form.setFieldsValue({ ...props.detailData });
            setResObj(props.detailData.returnObj)
        }
    }, [props.visible])

